$pageBackgroundColor: #fff;
$firstElementsColor: #9960F6;
$secondElementsColor: #CEF564;
$thirdElementsColor: #016450;
$fourthElementsColor: #FFDB00;
$firstTextColor: #fff;
$secondTextColor: #1E3264;
